################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/package-lock.json
/.vs/WebServer/v15
